* {
    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
}

body.colorlib-body {
    padding: 0;
    margin : 0;
}

.colorlib-body #colorlib-unauthorized {
    height: 100vh;
}

#colorlib-unauthorized {
    position: relative;
    height  : 60vh;
}

#colorlib-unauthorized .colorlib-unauthorized {
    position         : absolute;
    left             : 50%;
    top              : 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform    : translate(-50%, -50%);
    transform        : translate(-50%, -50%);
}

.colorlib-unauthorized {
    max-width : 410px;
    width     : 100%;
    text-align: center;
}

.colorlib-unauthorized .colorlib-unauthorized-401 {
    height  : 280px;
    position: relative;
    z-index : -1;
}

.colorlib-unauthorized .colorlib-unauthorized-401 h1 {
    font-family            : 'Montserrat', sans-serif;
    font-size              : 230px;
    margin                 : 0px;
    font-weight            : 900;
    position               : absolute;
    left                   : 50%;
    -webkit-transform      : translateX(-50%);
    -ms-transform          : translateX(-50%);
    transform              : translateX(-50%);
    background             : url('../../../assets/img/ceu.jpg') no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size        : cover;
    background-position    : center;
}


.colorlib-unauthorized h2 {
    font-family   : 'Montserrat', sans-serif;
    color         : #000;
    font-size     : 24px;
    font-weight   : 700;
    text-transform: uppercase;
    margin-top    : 0;
}

.colorlib-unauthorized .colorlib-unauthorized-401 h1:after,
.colorlib-unauthorized .colorlib-unauthorized-401 h1:before,
.colorlib-unauthorized h2:after,
.colorlib-unauthorized h2:before {
    display: none;
}

.colorlib-unauthorized p {
    font-style   : italic;
    color        : #000;
    font-size    : 17px;
    font-weight  : 400;
    margin-bottom: 20px;
    margin-top   : 0px;
}

.colorlib-unauthorized a {
    font-family       : 'Montserrat', sans-serif;
    font-size         : 14px;
    text-decoration   : none;
    text-transform    : uppercase;
    background        : #0046d5;
    display           : inline-block;
    padding           : 15px 30px;
    border-radius     : 40px;
    color             : #fff;
    font-weight       : 700;
    -webkit-box-shadow: 0px 4px 15px -5px #0046d5;
    box-shadow        : 0px 4px 15px -5px #0046d5;
    cursor: pointer;
}


@media only screen and (max-width: 767px) {
    .colorlib-unauthorized .colorlib-unauthorized-401 {
        height: 142px;
    }

    .colorlib-unauthorized .colorlib-unauthorized-401 h1 {
        font-size: 112px;
    }
}

@media only screen and (max-height:600px) {
    #colorlib-unauthorized {
        height: 80vh;
    }
}