<div>
  <div class="container-login" #containerlogin>
      <span class="title">Login</span>
      <form [formGroup]="authForm">
        <div class="form-group">
          <label>Seu CPF</label>
            <app-input erroMessage="Campo Obrigatório e com 11 caracteres" label="cpf">
              <input type="text" maxlength="14" class="form-control" formControlName="cpf" placeholder="CPF" autocomplete="off" mask="000.000.000-00">
            </app-input>
        </div>
        <div class="form-group">
          <label>Sua Senha</label>
          <app-input erroMessage="Campo Obrigatório e com 6 caracteres" label="cpf">
            <input class="form-control" formControlName="senha" placeholder="Senha" type="password">
          </app-input>
        </div>
        <div *ngIf="!configs.isSignIn" class="form-group">
          <label>Confirmar Senha</label>
          <app-input erroMessage="Campo Obrigatório" label="cpf">
            <input maxlength="80" class="form-control" 
            formControlName="confirmasenha" placeholder="Confirmar senha" type="password">
          </app-input>
        </div>
        <button type="button" [disabled]="authForm.invalid" class="btn btn-dark" (click)="onSubmit()">{{configs.action}}</button>
      </form>
      <p class="link" (click)="changeAuthAction()">{{configs.actionChange}}</p>
  </div>
</div>
<ngx-loading-x [show]="load">
</ngx-loading-x>
<div class="loading" *ngIf="load"><span>Loading...</span></div>