.container-login {
    width           : 50%;
    background-image: linear-gradient(to top, #f2f2f2, #0099e6);
    margin          : 70px auto;
    border-radius   : 20px;

    .title {
        padding-top    : 20px;
        font-size      : 30px;
        font-weight    : bold;
        font-style     : italic;
        display        : flex;
        justify-content: center;
        color          : #fff;
    }

    label {
        color       : #fff;
        font-size   : 20px;
        padding-left: 20px;
    }

    .btn {
        width          : 40%;
        display        : flex;
        margin         : 0 auto;
        display        : flex;
        justify-content: center;
        align-items    : center;
        font-size      : 20px;
    }

    .form-control {
        width      : 90%;
        margin-left: 20px;
    }

    .link {
        display        : inline-flex;
        font-style     : italic;
        color          : #0099e6;
        font-weight    : bold;
        cursor         : pointer;
        padding: 10px;
    }

    .field-required {
        border: 1px solid #ff0000;
    }

    form {
        min-height: 200px;
    }
}

.loading{
    font-size: 30px;
    text-align: center;
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
    .container-login {
        width : 80%;
        height: 450px;
        margin: 90px auto;
    }
}

@media only screen and (max-device-width:767px) {
    .container-login {
        width : 90%;
        height: 450px;
        margin: 50px auto;
    }
}