<div id="colorlib-not-found">
  <div class="colorlib-not-found">
      <div class="colorlib-not-found-404">
          <h1>404</h1>
      </div>
      <h2>Desculpe, Página Não Encontrada!</h2>
      <p>Verifique a URL ou clique no botão para voltar à Home.</p>
      <a [routerLink]="['']" #button>Pagina Inicial</a>
  </div>
</div>