<div class="container container-ficha" #containerdados>
  <div class="row">
      <div class="col-xs-12 col-sm-12 co-md-12 col-lg-12">
          <span class="title">Ficha Cadastral</span>
      </div>
  </div>
  <div class="aviso">
      <ul>
          <li>
              <h3>ATENÇÃO</h3>
          </li>
          <li>
              <p>É de fundamental importância manter os seus dados e de seus beneficiários
                  atualizados permanentemente
                  junto a esta Fundação.O cadastro das informações de forma incorreta, poderá impedir que algum
                  beneficiário indicado venha a receber no
                  futuro um dos benefícios previstos no seu plano.
              </p>
          </li>
          <li>
              <p>Em caso dúvidas ou necessidade de alteração dos campos destacados em cinza,
                  entre em contato pelo 0800 999 9991
                  ou segurosnetoltda@gmail.com .</p>
          </li>
          <li>
              <p>As alterações realizadas em seus dados cadastrais, somente serão efetivadas
                  após clicar no botão
                  Finalizar Ficha.</p>
          </li>
      </ul>
  </div>
<div>
  <div class="row container-ficha-cadastro">
      <div class="col-md-2 links">
          <div>
            <a [ngClass]="{'link-ativo':etapa == 'dadospessoais'}" (click)="mudarEtapa(etapas.dadospessoais)">
                <img *ngIf="etapa == 'dadospessoais'"
                    src="assets/img/ico-ficha-cadastral/ico-ficha-cadastral-1-on.png">
                <img *ngIf="etapa != 'dadospessoais'"
                    src="assets/img/ico-ficha-cadastral/ico-ficha-cadastral-1-off.png">
                <span>Dados<br />Pessoais</span></a>
          </div>
          <div>
              <a>
                  <img src="assets/img/ico-ficha-cadastral/beneficiarios-removebg.png">
                  <span>Beneficiários Habilitados</span>
              </a>
          </div>
      </div>
      <div class="col-md-9 container" [ngSwitch]="etapa">
          <app-dados-pessoais *ngSwitchCase="etapas.dadospessoais"></app-dados-pessoais>
      </div>
  </div>
</div>
</div>