.container-ficha {
    border-radius: 30px;
    margin-top   : 8px;
    height: 780px;
    width: 100%;
}

.title {
    padding-top    : 20px;
    font-size      : 40px;
    font-weight    : bold;
    font-style     : italic;
    display        : flex;
    justify-content: center;
    color          : #fff;
}

.aviso {
    text-align: justify;

    ul li {
        list-style: none;
    }

    h3 {
        font-weight: bold;
        font-style : italic;
        color      : #fff;
    }

    p {
        font-size : 13px;
        font-style: italic;
        font-weight: bold;
    }
}

.container-ficha-cadastro {
    border-top: 2px solid #FFF;
}

.links {
    padding: 28px 0px;
    cursor: pointer;
}

.links a {
    border        : 1px solid #C5C5C5;
    font-weight   : bold;
    color         : gray;
    display       : table-cell;
    height        : 101px;
    padding-left  : 20px;
    margin        : auto;
    vertical-align: middle;
    width         : 270px;
    background    : #EBEBEB;
}

.bi {
    font-size: 35px;
}

span {
    word-wrap     : break-word;
    vertical-align: middle;
}

img {
    float        : left;
    padding-right: 3px;
}

.btn {
    width          : 40%;
    display        : flex;
    margin         : 0 auto;
    display        : flex;
    justify-content: center;
    align-items    : center;
    font-size      : 20px;
}

.links a.link-ativo {
    background: linear-gradient(to right, #6b9d84 3%, #fff 1%);
    border-right: none;
}

.links a.link-ativo i {
    color: #6b9d84;
    border-color: #6b9d84;
}

.links a.link-ativo span {
    color: #6b9d84;
}