<form>
  <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-5">
          <label>Nome</label><span class="obrigatorio"> *</span>
          <div>
              <input class="form-control" type="text" />
          </div>
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-4">
          <label>Data de Nascimento</label><span class="obrigatorio"> *</span>
          <div>
              <input  class="form-control" type="text" />
          </div>
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-3">
          <label>Sexo</label><span class="obrigatorio"> *</span>
          <div>
              <select class="form-control" >
                  <option value="M">Masculino</option>
                  <option value="F">Feminino</option>
              </select>
          </div>
      </div>

      <div class="col-6 col-sm-6 col-md-3 col-lg-3">
          <label>CPF</label><span class="obrigatorio"> *</span>
          <div>
              <input mask="000.000.000-00"  class="form-control" 
                  type="text" />
          </div>
      </div>
      <div class="col-12 col-sm-6 col-md-5 col-lg-4">
          <label>Cidade de Nascimento</label><span class="obrigatorio"> *</span>
          <div>
              <input  class="form-control" type="text" />
          </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4">
          <label>Estado de Nascimento</label><span class="obrigatorio"> *</span>
          <div>
              <input  class="form-control" type="text" />
          </div>
      </div>

      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
          <label>Nacionalidade</label><span class="obrigatorio"> *</span>
          <div>
              <input  class="form-control" type="text" />
          </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-5">
          <label>Nome da Mãe</label><span class="obrigatorio"> *</span>
          <div>
              <input  class="form-control" type="text" />
          </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-5">
          <label>Nome do Pai</label><span class="obrigatorio"> *</span>
          <div>
              <input  class="form-control" type="text" />
          </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-4">
          <label>Ocupação Profissional</label><span class="obrigatorio"> *</span>
          <div>
              <input  class="form-control" type="text" />
          </div>
      </div>
      <!-- <div class="col-lg-4">
      </div> -->

      <div class="col-6 col-sm-6 col-md-6 col-lg-3">
          <label>Identidade</label><span class="obrigatorio"> *</span>
          <div>
              <input  class="form-control" type="text" maxlength="20"/>
          </div>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-3">
          <label>Data de Expedição</label><span class="obrigatorio"> *</span>
          <div>
              <input mask="00/00/0000"
                  class="form-control" type="text"/>
          </div>
      </div>

      <div class="col-7 col-sm-6 col-md-6 col-lg-3">
          <label>Órgao Expedidor</label><span class="obrigatorio"> *</span>
          <div>
              <input  class="form-control" type="text" />
          </div>
      </div>
      <div class="col-7 col-sm-6 col-md-6 col-lg-4">
          <label>Tipo de Documento</label><span class="obrigatorio"> *</span>
          <div>
              <select class="form-control">
                  <option value="" selected>Selecione</option>
              </select>
          </div>
      </div>

      <div class="col-7 col-sm-6 col-md-6 col-lg-2">
          <label>Estado Civil</label><span class="obrigatorio"> *</span>
          <div>
              <select class="form-control">
                  <option value="" selected>Selecione</option>
                  <option value="Solteiro" selected>Solteiro</option>
                  <option value="Casado" selected>Casado</option>
                  <option value="Divorciado" selected>Divorciado</option>
                  <option value="Viuvo" selected>Viuvo</option>
              </select>
          </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-5">
          <label>Nome do Cônjuge</label><span class="obrigatorio"> *</span>
          <div>
              <input
                  class="form-control"  type="text" />           
          </div>
      </div>

      <div class="col-12 col-sm-6 col-md-6 col-lg-3 btn-next">
              <button type="button" class="btn btn-dark">Próximo</button>
      </div>
  </div>
</form>