ul{
    padding-top: 18px;
    list-style: none;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

label {
    color: #000;
    font-size: 20px;
    padding-left: 2px;
}

p {
    font-style : italic;
    font-size  : 17px;
    font-weight: bold;
    text-align : center;
}

.btn {
    width          : 40%;
    display        : flex;
    margin         : 28px auto;
    justify-content: center;
    font-size      : 20px;
    border-radius  : 20px;
}