<div class="aviso">
    <ul>
        <li>Caso seus dados estejam desatualizados, <a href="">clique aqui</a> para atualização</li>
    </ul>
</div>
<p class="texto">Confira seus dados para recebimento do token de segurança:</p>
<div class="contato">
    <div>
        <p>E-mail:lipe_ultimate@hotmail.com</p>
    </div>
</div>
<div>
    <button class="btn btn-dark" (click)="enviar()">Confirmar</button>
</div>