<form [formGroup]="tokenForm">
  <div class="form-group">
    <label>Informe seu token</label>
    <app-input errorMessage="Campo obrigatório e com 4 caracteres" label="token">
      <input type="text" formControlName="token" class="form-control" placeholder="Digite aqui seu token"
        autocomplete="off" minlength="4">
    </app-input>
  </div>
  <button type="button" [disabled]="tokenForm.invalid" class="btn btn-dark" (click)="onSubmit()">Validar</button>
</form>