label {
    color: #fff;
    font-size: 20px;
    padding-left: 2px;
}

.btn {
    width: 40%;
    display: flex;
    margin: 28px auto;
    justify-content: center;
    font-size: 20px;
    border-radius: 20px;
}
