<form [formGroup]="passwordForm">
    <div class="form-group">
        <label>Nova Senha</label>
        <app-input errorMessage="Campo obrigatório e com 6 caracteres no mínimo" label="senha">
            <input type="password" formControlName="senha" class="form-control" placeholder="Senha" autocomplete="off">
        </app-input>
    </div>
    <div class="form-group">
        <label>Repetir Senha</label>
        <app-input errorMessage="Campo obrigatório e com 6 caracteres no mínimo" label="repetirsenha">
            <input type="password" class="form-control" formControlName="repetirsenha" placeholder="Repetir Senha">
        </app-input>
    </div>
    <button type="button" [disabled]="passwordForm.invalid" class="btn btn-dark" (click)="onSubmit()">Salvar</button>
</form>