.navbar-expand-lg {
    justify-content: space-between;
}

.dropdown-menu {
    right           : 15px;
    left            : auto;
    top             : 47px;

    li {
        font-style: italic;

        a {
            color: black;
        }
    }
}


.navbar {
    padding: 0;
}

.nav-header {

    a {
        cursor: pointer;
    }

    .logo {
        width : 63px;
        height: 49px;

    }

    span {
        font-style    : italic;
        font-weight   : bold;
        padding       : 0 10px;
        vertical-align: super;
        font-size     : 17px;
    }

    .title-logo {
        font-style             : italic;
        font-size              : 25px;
        background             : -webkit-linear-gradient(#eee, #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-bars {
        font-size: 35px;
        cursor   : pointer;
    }

    .dropdown-item {
        cursor: pointer;
    }
}