<nav class="navbar navbar-expand-lg nav-header" #header>
  <a class="title-logo" src="#"><img class="logo" src="assets/img/logo.png" alt="" />Seguros Neto</a>
  <div>
      <span>Bem Vindo luis</span>

      <i tabindex="0" class="fa fa-bars" aria-hidden="true" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" (click)="changeStyleDropdown()"></i>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" #dropdown>
          <li class="dropdown-item"><a [routerLink]="['dados-cadastrais']">Meus Dados</a></li>
          <li class="dropdown-item"><a [routerLink]="['alterarSenha']">Alterar Senha</a></li>
          <li class="dropdown-item" (click)="excluirUsuario()">Excluir Usuário</li>
          <li class="dropdown-item" (click)="deslogar()">Sair</li>
      </ul>
  </div>
</nav>

<ngx-loading-x [show]="load">
</ngx-loading-x>
<div class="loading" *ngIf="load"><span>Loading...</span></div>