<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 co-md-12 col-lg-12">
            <h1 class="title-page">
                Dados de Contato
            </h1>
        </div>
    </div>
    <div class="aviso">
        <ul>
            <li class="info">
                <h3>ATENÇÃO</h3>
            </li>
            <li>O participante poderá a qualquer tempo atualizar ou remover suas informações pessoais e é responsável
                por
                manter a confidencialidade e a segurança desses dados.</li>
            <li>A SegurosNeto não será responsabilizada pela divulgação de dados a terceiros por iniciativa do
                Participante
                e/ou pelo uso indevido de informações.</li>
            <li>É obrigatório escolher, pelo menos, uma opção para receber comunicados.</li>
        </ul>
    </div>

    <form #form="ngForm" [formGroup]="dadosForm" [ngClass]="estiloContatoForm" class="nobottommargin">
        <div class="row dados-telefone">
            <div class="col-12 col-sm-12 col-md-5 col-lg-4">
                <label>Celular</label>
                <div class="row">
                    <div class="col-3 pr-0">
                        <input [ngClass]="{'campo-invalido' : dadosForm.errors?.validaDDI}"
                            class="form-control" mask="+09" placeholder="+55"
                            formControlName="ddiCelular" name="ddiCelular" type="text" (change)="contatoAlterado()" />
                    </div>
                    <div class="col-3 pr-0">
                        <input [ngClass]="{'campo-invalido' : dadosForm.errors?.validaDDD}"
                            class="form-control" placeholder="000" formControlName="dddCelular" name="dddCelular"
                            type="text" minlength="2" maxlength="3" (change)="contatoAlterado()" />
                    </div>
                    <div class="col-6">
                        <input [ngClass]="{'campo-invalido' : dadosForm.errors?.validaCelular}"
                            class="form-control" mask="00000-0009" placeholder="00000-0000" formControlName="celular"
                            name="celular" type="text" (change)="contatoAlterado()" />
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-5">
                <label>E-mail</label>
                <input [ngClass]="{'campo-invalido' : dadosForm.errors?.validaEmail}"
                    class="form-control" placeholder="contato@exemplo.com" formControlName="email" name="email"
                    type="email" maxlength="100" (change)="contatoAlterado()" />
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <label>Telefone Fixo</label>
                <div class="row">
                    <div class="col-4 pr-0">
                        <input class="form-control" placeholder="000" formControlName="dddTelefone" name="dddTelefone"
                            minlength="2" maxlength="3" type="text" (change)="contatoAlterado()" />
                    </div>
                    <div class="col-8">
                        <input class="form-control" mask="0000-0000" placeholder="0000-0000" formControlName="telefone"
                            name="telefone" type="text" (change)="contatoAlterado()" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row preferencia-usuario">
            <div class="col-12 col-sm-12 col-md-5 col-lg-4">
                <div class="outerDivFull">
                    <div class="switchToggle mr-2">
                        <input type="checkbox" id="switch1" (click)="verificarCelular($event)"
                            formControlName="enviarcelular" name="enviarcelular" (change)="contatoAlterado()">
                        <label for="switch1">Toggle</label>
                    </div>
                    <label class="text-infor">Receber comunicados pelo celular</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-7 col-lg-8">
                <div class="outerDivFull">
                    <div class="switchToggle mr-2 mb-2">
                        <input type="checkbox" id="switch2" (click)="verificarEmail($event)"
                            formControlName="enviaremail" name="enviaremail" (change)="contatoAlterado()">
                        <label for="switch2">Toggle</label>
                    </div>
                    <label class="text-infor">Receber comunicados por e-mail</label>
                </div>
            </div>
            <span *ngIf="dadosForm.errors?.preferenciaUsuario" class="preferencia-obrigatorio">É
                obrigatório escolher a opção para receber comunicados pelo celular ou e-mail.</span>
        </div>
        <hr [ngClass]="{'divisao':dadosForm.errors?.preferenciaUsuario}">

        <div class="row dados-endereco">
            <div class="col-6 col-sm-3 col-md-3 col-lg-2">
                <label>CEP</label><a href="{{linkBuscaCep}}" class="buscar-cep" target="_blank"
                    title="Buscar CEP no site dos Correios">Buscar CEP</a>
                <div>
                    <input class="form-control" placeholder="00000000" formControlName="cep" name="cep" minlength="5"
                        maxlength="8" type="text" (focusout)="buscarCep()" (change)="contatoAlterado()" />
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-5">
                <label>Logradouro</label><span class="obrigatorio"> *</span>
                <div>
                    <input class="form-control" formControlName="logradouro" placeholder="Rua...Avenida..."
                        name="logradouro" type="text" maxlength="140" (change)="contatoAlterado()" />
                </div>
            </div>
            <div class="col-5 col-sm-3 col-md-3 col-lg-2">
                <label>Número</label><span class="obrigatorio"> *</span>
                <div>
                    <input formControlName="numero" name="numero" class="form-control" placeholder="Número"
                        maxlength="6" type="text" (change)="contatoAlterado()" />
                </div>
            </div>
            <div class="col-7 col-sm-5 col-md-5 col-lg-3">
                <label>Complemento</label>
                <div>
                    <input class="form-control" placeholder="Ex: Casa dos fundos ou Apto 55"
                        formControlName="complemento" name="complemento" type="text" maxlength="120"
                        (change)="contatoAlterado()" />
                </div>
            </div>
            <div class="col-8 col-sm-5 col-md-5 col-lg-2">
                <label>País</label><span class="obrigatorio"> *</span>
                <div>
                    <!-- <ng-select [ngClass]="{'campo-invalido' : !paisSelecionado && enviarFormulario}"
                        formControlName="pais" name="pais" [items]="itemsPaises" (data)="retornarPaisVazio($event)"
                        (selected)="selecionarPais($event); contatoAlterado()" placeholder="Selecione">
                    </ng-select> -->
                    <input class="form-control" placeholder="Pais" type="text"
                    formControlName="pais" name="pais" (change)="contatoAlterado()" />
                </div>
            </div>
            <div class="col-4 col-sm-2 col-md-2 col-lg-2">
                <label>UF</label><span class="obrigatorio"> *</span>
                <div>
                    <!-- <ng-select [ngClass]="{'campo-invalido' : !estadoSelecionado && enviarFormulario}"
                        *ngIf="paisSelecionado == 'BRASIL'" formControlName="uf" name="uf" [items]="itemsEstados"
                        (data)="retornarEstadoVazio($event)" (selected)="selecionarEstado($event); contatoAlterado()"
                        placeholder="Selecione">
                    </ng-select> -->
                    <input class="form-control" placeholder="UF" type="text"
                        formControlName="uf" name="uf" maxlength="2" (change)="contatoAlterado()" />
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <label>Cidade</label><span class="obrigatorio"> *</span>
                <div>
                    <!-- <ng-select [ngClass]="{'campo-invalido' : !cidadeSelecionado && enviarFormulario}"
                        [disabled]="desabilitarCidade" *ngIf="paisSelecionado == 'BRASIL'" formControlName="cidade"
                        name="cidade" [items]="itemsCidades" (selected)="selecionarCidade($event); contatoAlterado()"
                        placeholder="Selecione">
                    </ng-select> -->
                    <input  class="form-control" placeholder="Cidade" type="text"
                        formControlName="cidade" name="cidade" maxlength="50" (change)="contatoAlterado()" />
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <label>Bairro</label><span class="obrigatorio"> *</span>
                <div>
                    <input class="form-control" placeholder="Bairro" type="text" formControlName="bairro" name="bairro"
                        maxlength="60" (change)="contatoAlterado()">
                </div>
            </div>
        </div>
        <div class="row botoes">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
                <a class="btn btn-secundario" (click)="redirecionarFicha()">Ficha Cadastral</a>
                <button type="button" id="salvar" (click)="salvar()" class="btn btn-principal">Confirmar</button>
            </div>
        </div>
    </form>
</div>