.title-page {
    font-family: 'robotoblack', sans-serif;
    text-transform: uppercase;
    color: #10293f;
    text-align: left;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 1.87em;
    font-weight: bold;
}

.info {
    list-style: none;
}

h3 {
    font-weight: bold;
    text-align: left;
    margin-left: -15px;
}

ul {
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 10 10"><circle fill="black" cx="7" cy="7" r="2"/></svg>');
    padding-left: 3%;
    margin: 1%;
}

li {
    font-weight: bold;
}

.aviso {
    border: thin solid #C5C5C5;
    text-align: justify;
}

label {
    color: #6B9B83;
    font-weight: bold;
}

.smschecked {
    margin-top: 2%;
}

.btn {
    border-radius: none;
}

.form-control {
    display: inline;
}

.dados-telefone {
    margin-top: 15px;
}

.dados-telefone>div,
.dados-endereco>div {
    margin-bottom: 10px;
}

.dados-telefone>div label,
.dados-endereco>div label {
    margin-bottom: 0;
}

.buscar-cep {
    float: right;
    color: #03587D;
    text-decoration: underline !important;
}

.botoes {
    margin-top: 15px;
}

.botoes .btn {
    margin: 0 5px;
}

.center {
    text-align: center;
}

.outerDivFull {
    margin: 10px 2px 10px 0px;
}

.switchToggle input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}

.switchToggle label {
    cursor: pointer;
    text-indent: -9999px;
    width: 70px;
    max-width: 70px;
    height: 26px;
    background: #d1d1d1;
    display: block;
    border-radius: 100px;
    position: relative;
}

.switchToggle label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 3px;
    width: 26px;
    height: 17px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.switchToggle input+label,
.switchToggle input+input+label {
    background: #ff6666;
}

.switchToggle input:checked+label,
.switchToggle input:checked+input+label {
    background: #6B9B83;
}

.switchToggle input+label:before,
.switchToggle input+input+label:before {
    content: 'Não';
    position: absolute;
    top: 1px;
    left: 35px;
    width: 26px;
    height: 26px;
    border-radius: 90px;
    transition: 0.3s;
    text-indent: 0;
    color: #fff;
}

.switchToggle input:checked+label:before,
.switchToggle input:checked+input+label:before {
    content: 'Sim';
    position: absolute;
    top: 2px;
    left: 10px;
    width: 26px;
    height: 26px;
    border-radius: 90px;
    transition: 0.3s;
    text-indent: 0;
    color: #fff;
}

.switchToggle input:checked+label:after,
.switchToggle input:checked+input+label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.switchToggle label:active:after {
    width: 60px;
}

.toggle-switchArea {
    margin: 10px 0 10px 0;
}

div.switchToggle {
    float: left;
}

.obrigatorio {
    color: red;
}

.preferencia-usuario {
    position: relative;
}

.preferencia-usuario .text-infor {
    display: inline !important;
    color: #6B9B83;
}

.preferencia-obrigatorio {
    color: red;
    position: absolute;
    bottom: -14px;
    padding-left: 15px;
}

select {
    width: 80%;
}

.formulario-invalido input.campo-invalido,
ng-select.campo-invalido ::ng-deep .ui-select-toggle {
    border: 2px solid red !important;
}

.formulario-invalido input.ng-invalid {
    border: 2px solid red !important;
}

.formulario-invalido small {
    display: block !important;
}

@media only screen and (max-width: 767px) {
    .preferencia-obrigatorio {
        color: red;
        position: relative;
        bottom: 0;
    }
}