<div class="container-senha">
    <div class="row">
        <div class="col-6 form-senha" #containerSenha>
            <span class="title">Alterar Senha</span>
            <app-enviar-token *ngIf="etapa == 'EnviarToken'" (mudarEtapa)="validarToken($event)"></app-enviar-token>
            <app-validar-token *ngIf="etapa == 'ValidarToken'" [userLogin]="userLogin"
                (mudarEtapa)="salvarSenha($event)"></app-validar-token>
            <app-salvar-senha *ngIf="etapa == 'SalvarSenha'"></app-salvar-senha>
        </div>
        <div class="col-6 form-senha" #containerMensagem>
            <span class="title">Central de Atendimento</span>
            <div class="container-texto">
                <p class="texto-informativo">O Seguros Neto está à disposição para atender por meio da Central de
                    Atendimento - 0800 999 9991 - de
                    segunda a sexta, das 8:30 horas às 17:00 horas.
                    Para dúvidas, informações e reclamações, é possível entrar em contato através do Fale Conosco.</p>
            </div>
        </div>
    </div>
</div>