.container-senha {
    width           : 90%;
    background-image: #f2f2f2;
    margin: 70px 75px;
    border-radius   : 20px;

    .title {
        padding-top    : 20px;
        font-size      : 40px;
        font-weight    : bold;
        font-style     : italic;
        display        : flex;
        justify-content: center;
        color          : #fff;
    }

    .form-senha {
        background-image: linear-gradient(to top, #f2f2f2, #0099e6);
        border-radius   : 30px;
        padding         : 45px;
    }

    label {
        color       : #fff;
        font-size   : 20px;
        padding-left: 2px;
    }

    .btn {
        width          : 40%;
        display        : flex;
        margin         : 28px auto;
        justify-content: center;
        font-size      : 20px;
        border-radius  : 20px;
    }

    .container-texto{
        padding-top: 10px;
    }

    .texto-informativo{
        font-size: 20px;
        font-style: italic;
    }
}