<div id="colorlib-error">
  <div class="colorlib-error">
      <div class="colorlib-error-500">
          <h1>500</h1>
      </div>
      <h2>Desculpe, Ocorreu Um Erro Inesperado!</h2>
      <p>Não se preocupe, o Neto está ciente do problema.</p>
      <a [routerLink]="['']" #button>Pagina Inicial</a>
  </div>
</div>