body{
    background-color: #e6ffff !important;
  }
  
  .form-group.has-success label {
      color: #00a65a;
    }
    .form-group.has-success .form-control,
    .form-group.has-success .input-group-addon {
      border-color: #00a65a;
      box-shadow: none;
    }
    .form-group.has-success .help-block {
      color: #00a65a;
    }
  
    .form-group.has-error label {
      color: #dd4b39;
    }
    .form-group.has-error .form-control,
    .form-group.has-error .input-group-addon {
      border-color: #dd4b39;
      box-shadow: none;
    }
    .form-group.has-error .help-block {
      color: #dd4b39;
    }
  
    .loading{
      font-size: 30px;
      text-align: center;
  }